{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<a onclick="$('#import').submit();" class="btn btn-primary"><i class="fa fa-upload"></i> {{ button_import }}</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		<button type="button" class="btn-close float-end" data-bs-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
		<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
		
		<div class="card">
			<h3 class="card-header"><i class="fa-solid fa-pencil"></i>{{ text_list }}</h3>

			<div class="card-body">
				<form action="{{ import }}" method="post" enctype="multipart/form-data" id="import">
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">{{ entry_import }}</label>
						<div class="col-sm-9">
							<input type="file" name="import" class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}